# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment Variables
.env
server/.env

# Build Artifacts
dist/
client/dist/
build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Editor/OS Files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Misc
.cache/
.eslintcache
package-lock.json
!client/package-lock.json
!server/package-lock.json
